body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    color: yellow;
    
}

.header {
    display: flex;
    background-color: #12700F;
    align-items: center;
    justify-content: space-around;
    padding: 16px;

}

.header img {
    max-width: 10%;
    height: auto;
}

.header .links {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}



.top {
    display: flex;
    background-color: #12700F;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 30px;
}

.top .left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: -10px;
    flex: 0 0 20%;
}

.top img {
    max-width: 40%;
    margin: 50px;
}

.iheader {
    margin: 0;
    text-align: center;
    background-color: white;
    padding-top: 100px;
    font-size: 40px;
    color: black;
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 100px;
}

.info div {
    flex: 0 1 400px;
    text-align: center;
    padding: 10px;
    color: black;
}

.info img {
    border: 5px solid blue;
    border-radius: 25px;
    max-width: 400px;
    height: auto;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9dbdb;
    padding: 100px;
}

.text {
    text-align: center;
    padding: 30px 30% 0;
    font-size: 40px;
    margin: 0;
    font-size: 36px;
    font-weight: 100px;
    font-style: italic;
    color: black;
}

.author {
    align-self: flex-end;
    color: black;
    font-style: bold;
    margin: 0;
    padding: 0 30% 30px;
    font-size: 34px;
    font-weight: 500;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
}

.container button {
    max-height: 30px;
}

.container .outside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    border-radius: 25px;
    padding: 30px;
    width: 50%
}

.container .inside {
    max-width: 200px;
    padding: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12700f;
    padding: 20px;
}