ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
        text-decoration: none;
}

.header {
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: space-around;
    padding: 16px;

}

.header img {
    max-width: 10%;
    height: auto;
}

.header .links {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

